.container {
    background-image: url(../../assets/images/lines/darkGreen.svg), url(../../assets/images/lines/darkGreen.svg), url(../../assets/images/lines/darkGreen.svg), url(../../assets/images/lines/darkGreen.svg), url(../../assets/images/lines/darkGreen.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}