    .light {
        background-color: #00DCBA;
        color: #004034;
        width: "205px";
        font-size: 1.125rem;
    }
    
    .dark {
        background-color: #004639;
        color: #004034;
        font-size: "1rem";
        width: 17;
    }
    
    .light,
    .dark {
        height: 70px;
        border-radius: 50px;
    }